<nav class="navbar navbar-expand-lg py-3" style="background-color: var(--color-yellow-light); font-family: var(--font-title);">

	<div class="container">

		<a class="navbar-brand" href="{{ path('app_home') }}" style="color: var(--color-red);">
			<img src="{{ asset('assets/logos/Logo_BLEU_MER.png')}}" alt="Logo Oh Pétard !" class="logoNav">
		</a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOhPetard" aria-controls="navbarOhPetard" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarOhPetard">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#musique">PROGRAMMATION</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#sports">BILLETERIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#agriculture">OH PÉTARD !</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#animations">INFOS PRATIQUES</a>
				</li>
			</ul>


			<div class="d-flex">
				<a href="#billetterie" class="btn btn-primary ms-lg-3">
					<i class="fa-solid fa-ticket me-1"></i>
					INSCRIPTIONS
				</a>
			</div>
		</div>
	</div>
</nav>
