<nav class="navbar navbar-expand-lg py-1 fixed-top {% if app.request.attributes.get('_route') starts with 'app_home' %}
        bg-yellow-light
    {% else %}
        bg-footer
    {% endif %}" style="font-family: var(--font-title);">

	<div class="container">

		<a class="navbar-brand" href="{{ path('app_home') }}" style="color: var(--color-red);">
			<img src="{{ asset('assets/logos/Logo_BLEU_MER.png')}}" alt="Logo Oh Pétard !" class="logoNav">
		</a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOhPetard" aria-controls="navbarOhPetard" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarOhPetard">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#musique">PROGRAMMATION</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_billeterie')}}">BILLETERIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#agriculture">OH PÉTARD !</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#animations">INFOS PRATIQUES</a>
				</li>
			</ul>


			<div class="d-flex">
				<a href="{{ path('app_rider_registration')}}" class="btn btn-primary ms-lg-3">
					INSCRIPTION
				</a>
			</div>
		</div>
	</div>
</nav>
