{% extends 'base.html.twig' %}

{% block title %}Oh Pétard !
{% endblock %}

{% block body %}
	<img src="{{ asset('assets/images/logo2.png')}}" alt="Logo Oh Pétard Festival" style="width: 100%; max-width: 600px; display: block; margin: 2rem auto;">

	<div>
		<h1>Oh Pétard festival !</h1>
		<p>Cette police a l'air de fonctionner</p>

		<button class="btn btn-primary">PRIMARY</button>
		<button class="btn btn-outline-primary">OUTLINE PRIMARY</button>
		<button class="btn btn-secondary">PRIMARY</button>

	</div>
{% endblock %}
