{% extends 'base.html.twig' %}

{% block title %}Inscriptions Riders
{% endblock %}

{% block body %}
	<div style="text-align:center; margin-top:50px;">
		<h1>Choisissez votre discipline</h1>
		<p>VCOUCOU BLOC.</p>


	</div>
{% endblock %}
