/* ==============================================
            FONT FACE
    ============================================= */

@font-face {
    font-family: 'Stinger Trial';
    src: url('/fonts/StingerTrial-Regular.woff2') format('woff2'),
        url('/fonts/StingerTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stinger Trial Heavy';
    src: url('/fonts/StingerTrial-Heavy.woff2') format('woff2'),
        url('/fonts/StingerTrial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Louis George Cafe';
    src: url('/fonts/LouisGeorgeCafe.woff2') format('woff2'),
         url('/fonts/LouisGeorgeCafe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ==============================================
            Variables Globales
    ============================================= */

:root {
  --color-yellow-light: #FDEFCF    ;
  --color-blue-dark:   #0D4E8E;
  --color-red:         #E51C30;
  --color-yellow:      #EEAC19;
  --color-blue-light:  #3285C1;
  --color-green:       #3AAA36;
  --color-pink:        #ED93AF;
  --color-footer:        #F8E5B5;

  --font-title: 'Stinger Trial', sans-serif;
  --font-text: 'Louis George Cafe', sans-serif;

  --font-size-base: 1.2rem;
  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.5rem;

  --border-radius: 8px;
  --transition: all 0.3s ease-in-out;

  --shadow-light: 0px 4px 10px rgba(0,0,0,0.1);
  --shadow-medium: 0px 6px 15px rgba(0,0,0,0.15);
  --shadow-heavy: 0px 6px 15px rgba(0,0,0,0.5);
  --spacing-section: 4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-text);
    font-size: var(--font-size-base);
    background-color: var(--color-yellow-light);
    color: var(--color-blue-dark);
    padding-top: 80px;
}

html, body {
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

footer a {
    color: var(--color-blue-dark);
}




h1, h2, h3 {
    font-family: var(--font-title);
    color: var(--color-yellow-light);
}

.number {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.shadow-light {
  box-shadow: var(--shadow-light);
}

.small-text {
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--color-blue-dark);
}





/* ==============================================
            BOUTON
    ============================================= */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-title);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0.3,0.3);
}

/* Bouton primaire */
.btn-primary {
  background-color: var(--color-red);
  color: var(--color-yellow-light);
  border: none;
}

.btn-primary:hover {
  background-color:var(--color-pink); 
  color: var(--color-yellow-light);
}

/* Bouton secondaire */
.btn-secondary {
  background-color: var(--color-yellow-light);
  color: var(--color-pink);
  border: none;
}

.btn-secondary:hover {
  background-color:  var(--color-blue-light); 
  color: var(--color-yellow-light);
}

/* Bouton outline primaire */
.btn-outline-primary {
  background-color: transparent;
 color: var(--color-red);  
 border: 1px solid var(--color-red);
}

.btn-outline-primary:hover {
  background-color: #c91526;
  color: var(--color-yellow-light);
  border: 1px solid var(--color-red);
}




/* ==============================================
            BACKGROUND
    ============================================= */


.bg-red {
  background-color: var(--color-red);
  color: white;
}

.bg-pink { 
  background-color: var(--color-pink) !important; 
}
.bg-yellow { 
  background-color: var(--color-yellow) !important; 
}

.bg-yellow-light { 
  background-color: var(--color-yellow-light) !important; 
}
.bg-blue { 
  background-color: var(--color-blue-light) !important; 
}

.bg-dark-blue { 
  background-color: var(--color-blue-dark) !important; 
}

.bg-green { 
  background-color: var(--color-green) !important; 
}

.bg-footer { 
  background-color: var(--color-footer) !important; 
}

/* ==============================================
            NAVBAR
    ============================================= */

.navbar-brand img,
.logoNav {
  height: 50px !important;
  width: auto !important;
}

.navbar .nav-link{
  font-family: var(--font-title);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-blue-dark) !important;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: var(--color-red) !important;
}



/* ==============================================
            HERO
    ============================================= */

.hero-logos {
    position: relative;
    z-index: 2; 
}

.hero-logos .col-4 {
    position: relative; 
}

.hero-logos .col-4:first-child {
    align-self: flex-start; /* le grimpeur commence en haut de la ligne */
}

.grimpeur {
    width: 100%;
    max-width: 300px;
    display: block;
    position: absolute;
    top: 0; /* point de départ en haut */
    transform: translateY(20px); /* le fait descendre */
    left: 50%;
    transform: translate(-50%, 70px); /* centré horizontalement + descente */
    z-index: 3;
}

.rectangles {
    position: relative;
    z-index: 1; 
}

.bg-pink { background-color: var(--color-pink); }
.bg-yellow { background-color: var(--color-yellow); }
.bg-blue { background-color: var(--color-blue-light); }

.zones-texte h1,
.zones-texte h2,
.zones-texte h3 {
    font-family: 'Stinger Trial Heavy';
    font-size: 45px;
}



/* ==============================================
            LINE UP
    ============================================= */

.lineup-section {
    position: relative;
}

.bg-red {
    background-color: var(--color-red);
    color: white;
}


.lineup-text {
    font-family: var(--font-title);
    text-transform: uppercase;
    line-height: 1.3;
}

.lineup-big {
    font-size: 3.5rem; 
    font-weight: bold;
}

.lineup-medium {
    font-size: 3rem; 
    font-weight: bold;
}

.lineup-small {
    font-size: 2.5rem;
    font-weight: bold;
}

.lineup-xsmall {
    font-size: 2rem;
    font-weight: bold;
}

.text-yellow-light {
    color: var(--color-yellow-light) !important;
}
/* ==============================================
            ABOUT
    ============================================= */
.about h3 {
  color: var(--color-red);
}

/* ==============================================
            CARRES X3
    ============================================= */


.carre {
    border-radius: 15px; 
    box-shadow: var(--shadow-light); 
    transition: transform 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: visible;
}

.carre:hover {
    transform: translateY(-5px); 
}


.carre-small { height: 200px; }
.carre-medium { height: 240px; }
.carre-large { height: 280px; }


.carre-img {
    max-width: 300px;
    position: absolute;
}


.carre-img-musique { bottom: -50px; }
.carre-img-sports { bottom: -100px; }
.carre-img-agriculture { bottom: -70px; }






/* ==============================================
            ANIMATION & STREET FOOD
    ============================================= */

.section-animations-food {
    background-color: var(--color-blue-light);
    overflow: visible;
}

.section-animations-food .bloc-info {
    max-width: 600px;
    margin: 0; 
    text-align: left;
}


 .section-animations-food p{
    color: var(--color-yellow-light) !important;
    
}

.section-animations-food h2 {
  text-shadow: var(--shadow-heavy);
}

.link-more {
    display: inline-block;
    margin-top: 0.2rem;
    font-family: var(--font-title);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-yellow-light);
    border-bottom: 2px solid var(--color-yellow-light);
    transition: color 0.2s ease, border-color 0.2s ease;
}

.link-more:hover {
    color: var(--color-pink);
    border-color: var(--color-pink);
}


.illu-sandwich {
    position: absolute;
    right: -50px;   
    bottom: -60px;  
    max-width: 300px; 
    z-index: 2;     
}



/* ==============================================
            CTA BENEVOLES
    ============================================= */


.benevoles-container {
    max-width: 900px; /* ou 800px pour plus étroit */
}

.benevoles-section h2 {
  color: var(--color-red);
}



/* ==============================================
            BANDEAU GOOD
    ============================================= */

.bandeau-good .h3 {
    font-family: 'Stinger Trial Heavy';
}

.bandeau-good .food {
    color: var(--color-pink);
    font-size: 65px;
}

.bandeau-good .ride {
    color: var(--color-yellow);
    font-size: 65px;
}

.bandeau-good .music {
    color: var(--color-green);
    font-size: 65px;
}

.bandeau-good .etoile {
    color: var(--color-blue-dark);
    margin: 0 0.5rem; 
}


/* ==============================================
            ADHESION
    ============================================= */

.section-adherer {
    background-color: transparent;
    overflow: visible;
}

.adhesion-box {
    background-color: var(--color-pink);
    border-radius: 20px;
    color: var(--color-yellow-light);
    max-width: 1100px;
    margin: 0 auto;
}

.adhesion-box h2 {
    font-family: var(--font-title);
    
}

.adhesion-box p {
    max-width: 600px; 
    margin: 0 auto;
}

.illu-micro {
    position: absolute;
    left: -50px;   
    bottom: -60px;  
    max-width: 300px; 
    z-index: 2;     
}



/* ==============================================
            PAGE INSCRIPTION
    ============================================= */

.section-carres-inscription {
    position: relative;
    margin-bottom: 200px; /* espace pour l'image qui dépasse */
}
    
.carre {
    border-radius: 30px; 
    box-shadow: var(--shadow-light); 
    transition: transform 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.carre:hover {
    transform: translateY(-5px); 
}


.carre-register-small { height: 350px; }
.carre-register-medium { height: 350px; }


.carre-img {
    max-width: 70%;
    position: absolute;
}


.carre-img-musique { bottom: -60%; }
.carre-img-sports { bottom: -50%; }

.inscription h1 {
    color: var(--color-red);
}

